<tr {{on "click" (fn @openIssue @id)}}>
        <td>
            {{@issue.description}}
        </td>
        <td>
           {{@issue.severity}} 
        </td>
        <td>
            {{@issue.status}}
        </td>
</tr>